# Data Analysis in Python

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {"Day":[1,2,3,4,5,6],"Visitors":[200,500,300,500,100,1900],"Bounce_Rate":[20,45,60,19,95,56]}
df = pd.DataFrame(data)
print(df)

   Day  Visitors  Bounce_Rate
0    1       200           20
1    2       500           45
2    3       300           60
3    4       500           19
4    5       100           95
5    6      1900           56

In [4]:
df.head()   # it will show top five data (rows)

   Day  Visitors  Bounce_Rate
0    1       200           20
1    2       500           45
2    3       300           60
3    4       500           19
4    5       100           95

In [5]:
df.tail()  # it will show last five data (rows)

   Day  Visitors  Bounce_Rate
1    2       500           45
2    3       300           60
3    4       500           19
4    5       100           95
5    6      1900           56

In [6]:
df.head(3)  #top 3 rows

   Day  Visitors  Bounce_Rate
0    1       200           20
1    2       500           45
2    3       300           60

In [7]:
df.tail(3) # last 3 rows

   Day  Visitors  Bounce_Rate
3    4       500           19
4    5       100           95
5    6      1900           56

In [8]:
df.sample()  # any row from table

   Day  Visitors  Bounce_Rate
1    2       500           45

In [9]:
df.sample(2)  # random any two rows

   Day  Visitors  Bounce_Rate
4    5       100           95
2    3       300           60