# Data Munging

In Data Munging, you can convert a particular data into a different format. For example if you have a .csv file, you can convert it into .xlsx or .html file format.

In [2]:
import pandas as pd
import numpy as np
import requests

In [14]:
data=pd.read_csv("car1modified.csv",index_col=0)
data.to_excel("carrs.xlsx")

In [15]:
data

     Name   Model  Year   color  price
0   Honda   Civil  2015    Blue  26000
1  Toyota  Camery  2007  Silver   3000
2  Toyota     RV4  2023     Red  45000
3     Kia      EX  2023   White  20000