# Function

Function is group of related statements that performs a specific task.
Functions help break our program into smaller and modular chunks. As our programs grows larger and larger, 
functions make it more organize and manageble.

Userdefined Function

In [1]:
# Definition of Function
def fun1():
    print("I am defining my first function")

In [3]:
# calling functions
fun1()

I am defining my first function

In [4]:
def addfunctin():
    a=3
    b=19
    c=a+b
    print("Sum of two value :",c)

In [6]:
addfunctin()

Sum of two value : 22

Function with user input value

In [8]:
def userinputfun():
    a=int(input("Enter a value for a:"))
    b=int(input("Enter a value for b:"))
    c=a*b
    print("Multiplication of two value is: ",c)

In [9]:
userinputfun()

Enter a value for a:3
Enter a value for b:19
Multiplication of two value is:  57

Parametric userdefined Function:

In [12]:
# defining function with parameter ## passing parameter into the function
def addfun(a,b):
    c=a+b
    print("c=",c)

In [13]:
# calling function with using same parameter during defining function 
a=19
b=3
addfun(a,b)

c= 22

In [14]:
def multi(a,b):
    c=a*b
    print("c=",c)

In [15]:
multi(19,3) # we can pass the value of parameter this way also

c= 57

In [16]:
def area_rect(length,width):
    area=length*width
    print("Area of Rectangle is ",area)

In [17]:
# user input value for variable 

length=int(input("Enter the value for Length: "))
width=int(input("Enter the value for Width: "))
area_rect(length,width)

Enter the value for Length: 19
Enter the value for Width: 3
Area of Rectangle is  57

#this * number of varible passing during calling.. like we have changing  requirements where everytime we have to use multiple variable or number of arguments though we have no clue at the time of defining functions. With this changing requirements * is useful to work with multiple arguments at the time of calling. we dont have to declare at the time of defining functions that how many variables we needed.

In [ ]:
def math_fun(* number):
    print(sum(number)) 
    print(min(number))
    print(max(number))

In [34]:
math_fun(3,19)

22
3
19

# Variable

Global Variable and Local Variable

Global Varibale : Life span is very high and we can call or use this variable anywhere anytime in the jupyter notebook
    
    
Local Variable : Life span is very short and we can call it or use it within the function or loop so it will die within the 
                 same function or same loop

In [35]:
marks=80  # global variable

In [36]:
marks # it will print value because its defined outside the function so we can use it anywhere in this jupyter notebook

80

In [39]:
def fun1():
    m=10
    n=19
    p=m+n
    print("p= ",p)

In [40]:
m  # because it is local variable and it has define inside the fun1 
    # so it throws the errro when we call it outside of the functin

NameError: name 'm' is not defined

In [46]:
marks

80

In [42]:
fun1()

p=  29

Calling one function into the another function

In [43]:
def innerfunction():
    print("i am function number1")

In [47]:
def outterfunction():
    innerfunction()   # calling first userdefined function into this function during defining 2nd function
    print("I am function nunber 2 and calling function number 1 in me")

In [48]:
outterfunction()

i am function number1
I am function nunber 2 and calling function number 1 in me

In [59]:
def personal_info():
    name=input("Enter your Name ")
    age=input("Enter your age ")
    print(name)
    print(age)

In [50]:
personal_info()

Enter your Name Bhumika
Enter your age 42
Bhumika
42

In [60]:
def edu_info():
    personal_info()
    education=input("Enter your Qualification ")
    experience=input("Enter your Experience  ")
    print(education)
    print(experience)

In [61]:
edu_info()

Enter your Name Bhumika
Enter your age 19
Bhumika
19
Enter your Qualification 324
Enter your Experience  13
324
13

Return Keyword

In [64]:
def add_fun():
    a=19
    b=3
    c=a+b
    return c    # whenever we wants to return the value we can use return keyword

In [65]:
add_fun()

22

In [66]:
retvalue=add_fun() # so we can return the value outside function too

In [67]:
retvalue

22

In [69]:
retvalue*2 #using the value outside function with other functions

44

In [70]:
def sub_fun(retvalue):  # we can use one functions return value with other function 
    print("substract = ",retvalue-2)

In [72]:
sub_fun(retvalue)

substract =  20

In [74]:
for i in range(1,10):
    if(i==5):
        break
    print(i)

1
2
3
4

In [75]:
for i in range(1,10):
    if(i==5):
        return       #instead of break, here we use return keyword to get the value for output
    print(i)

SyntaxError: 'return' outside function (1250308045.py, line 3)

SyntaxError:  'return' outside function    === we got this earro because return keyword must use inside the function 
#without function return keyword can not be use

so now we use return keyword with same example within the function

In [76]:
def retu_fun():
    for i in range(1,10):
        if(i==6):
            return
        print(i)

In [77]:
retu_fun()

1
2
3
4
5

In [82]:
def fun1():
    for i in range(0,20,5):
        print(i)

In [83]:
fun1()

0
5
10
15

In [111]:
def fun2(*args):
    print(sum(args))
    print(min(args))
    print(max(args))

In [112]:
fun2(4,6)

10
4
6

In [113]:
fun2(3,6,8,9,1)

27
1
9

In [114]:
def fun3():
    for i in [10,20,30]:
        print(i*2)

In [115]:
fun3()

20
40
60

In [120]:
def para_fun(*numbers):
    total=0
    for i in numbers:
        total=total+i
    print("Total= ",total)

In [121]:
para_fun(10,20)

Total=  30

In [157]:
def my_fun(**kwargs):
    res=""
    for i in kwargs.values():
        res=res+i
        print(res)

In [158]:
my_fun(a="Bhumika ",b="Vivek ",c="Agarwal")

Bhumika
Bhumika Vivek
Bhumika Vivek Agarwal

In [167]:
def concatenate(**kwargs):
    result = ""
    for arg in kwargs.values():  # brining the value of key here everytime and it prints
        result += arg
    return result
print(concatenate(a="Python",b="Programming",c="Is",d="Great"))

PythonProgrammingIsGreat

# Lambda Function

In [168]:
refvar = lambda a :a+1

In [170]:
refvar(2)

3

In [171]:
refvar=lambda q,r,t : q*r*t

In [172]:
refvar(10,3,2)

60

In [175]:
s=lambda q:q**(1/3)

In [176]:
s(5)

1.7099759466766968

In [177]:
s(8)

2.0

In [178]:
s(int(8))

2.0

In [179]:
int(s(8))

2

In [181]:
num=int(input("Enter a value "))
v=lambda b:b*2 
v(num)  # entered value pass it the num and num pass it to V varible which works for mathamatics

Enter a value 6

12

In [188]:
def my_lam_fun():
    a=int(input("enter a number "))
    b=int(input("Enter a number "))
    c=lambda m,n:m+n
    return(c(a,b))

In [189]:
my_lam_fun()

enter a number 5
Enter a number 6

11

Lambda with list and map

In [202]:
def round_list_ma():
    list1=[1.345,2.445,3.56,4,5]
    p=list(map(lambda n:n*2/3,list1))  # store the output in p variable
    d=[round(i,2) for i in p]          # round up the decimal value of p variable and store it in d for print
    return d

In [203]:
round_list_ma()

[0.9, 1.63, 2.37, 2.67, 3.33]

Filter in Lambda

In [206]:
mylist=[1,2,3,4,5,6]
list(filter(lambda i:i>2,mylist))

[3, 4, 5, 6]

In [210]:
even= range(1,10)
list(filter(lambda i:i%2==0,even))

[2, 4, 6, 8]

In [4]:
even1=lambda i:i%2==0
list(filter(even1,range(1,10)))

[2, 4, 6, 8]

In [7]:
def testfunc():
    list1=[]
    for i in range(1,5):
        city=input("Enter a name of City:  ")
        list1.append(city)        #using append function inside userdefined function
        print(list1)
    print("Enter Final list of cities:  ",list1)

In [8]:
testfunc()

Enter a name of City:  Ahmedabad
['Ahmedabad']
Enter a name of City:  vadodara
['Ahmedabad', 'vadodara']
Enter a name of City:  Anand
['Ahmedabad', 'vadodara', 'Anand']
Enter a name of City:  Jamangar
['Ahmedabad', 'vadodara', 'Anand', 'Jamangar']
Enter Final list of cities:   ['Ahmedabad', 'vadodara', 'Anand', 'Jamangar']

Everything in function - innerfunction,outerfunction,return,store return value and call stored return value

In [12]:
def add():
    num1=int(input("Enter a value: "))
    num2=int(input("Enter a value: "))
    print(num1+num2)

In [14]:
def substract():
    num1=int(input("Enter a value: "))
    num2=int(input("Enter a value: "))
    print(num1-num2)

In [15]:
def multiplication():
    num1=int(input("Enter a value: "))
    num2=int(input("Enter a value: "))
    print(num1*num2)

In [16]:
def calculation():
    add()
    substract()
    multiplication()

In [17]:
calculation()

Enter a value: 3
Enter a value: 4
7
Enter a value: 6
Enter a value: 7
-1
Enter a value: 3
Enter a value: 9
27

In [20]:
def add1():
    num1=int(input("Enter a value: "))
    num2=int(input("Enter a value: "))
    return (num1+num2)

In [21]:
def subs():
    num1=int(input("Enter a value: "))
    num2=int(input("Enter a value: "))
    return (num1-num2)

In [23]:
def multi():
    num1=int(input("Enter a value: "))
    num2=int(input("Enter a value: "))
    return (num1*num2)

In [26]:
def cal():
    add_return_value = add1()
    sub_return_value = subs()
    multi_return_value = multi()
    print("Addition:         ",add_return_value)
    print("Substraction      ",sub_return_value)
    print("Multiplication:   ",multi_return_value)

In [27]:
cal()

Enter a value: 4
Enter a value: 4
Enter a value: 5
Enter a value: 6
Enter a value: 7
Enter a value: 8
Addition:          8
Substraction       -1
Multiplication:    56