# Practice Userdefined function with sqlite3

In [1]:
import sqlite3

In [2]:
con=sqlite3.connect("c:/Users/Vibhu/payroll_database.db")
con.execute()

In [3]:
cur=con.cursor()

In [22]:
cur.execute("Create table payroll(id int primarykey,name txt,email txt,sinno int unique,payday int,pay real)")
con.commit()

OperationalError: table payroll already exists

In [19]:
def insertvalue(con,entries):
    cur=con.cursor()
    cur.execute("insert into payroll(id,name,email,sinno,payday,pay) values(?,?,?,?,?,?)",entries)
    con.commit()

In [8]:
entries=(1,'Bhumika','bhumi03@gmail.com',123,45,10000)

In [9]:
insertvalue(con,entries)

In [10]:
entries=(2,'Bhumika','bhumi03@gmail.com',456,45,10000)

In [18]:
results=cur.execute("select * from payroll")
results.fetchall()

[(1, 'Bhumika', 'bhumi03@gmail.com', 1903, 45, 10000.0),
 (2, 'Bhumika', 'bhumi03@gmail.com', 456, 45, 10000.0)]

In [12]:
insertvalue(con,entries)

In [20]:
def updatevalue(con,entries):
    cur=con.cursor()
    cur.execute("update payroll set sinno=1903 where id=1")
    con.commit()

In [21]:
updatevalue(con,entries)

In [23]:
def updatevalue1(con,entries):
    cur=con.cursor()
    cur.execute("update payroll set name='Vivek' where id=2")
    cur.execute("update payroll set pay=50000 where id=2")
    con.commit()

In [24]:
updatevalue1(con,entries)

In [25]:
results=cur.execute("select * from payroll")
results.fetchall()

[(1, 'Bhumika', 'bhumi03@gmail.com', 1903, 45, 10000.0),
 (2, 'Vivek', 'bhumi03@gmail.com', 456, 45, 50000.0)]